/* You can add global styles to this file, and also import other style files */
body {
	color: rgb(39, 40, 49);
    background: 
	    repeating-linear-gradient(45deg, rgba(255,255,255, 0) 0px, rgba(255,255,255, 0) 2px, rgb(255,255,255) 2px, rgb(255,255,255) 4px),
	    repeating-linear-gradient(-45deg, rgba(39, 40, 49, 0.05) 0px, rgba(39, 40, 49, 0.05) 1px, rgba(255,255,255, 0) 2px, rgba(255,255,255, 0) 16px),
	    repeating-linear-gradient(-45deg, rgba(255,255,255, 0) 0px, rgba(255,255,255, 0) 2px, rgb(255,255,255) 2px, rgb(255,255,255) 4px),
	    repeating-linear-gradient(45deg, rgba(39, 40, 49, 0.05) 0px, rgba(39, 40, 49, 0.05) 2px, rgba(255,255,255, 0) 2px, rgba(255,255,255, 0) 16px);
}

h2 {
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}